
{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
  <div class="col-12">
      
      <!-- <a href="#" class="btn btn-success float-right"></a> -->
   
  </div>
</div>
    <div class="row">
        <div class="col-md-12">
          <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                
            <tbody>
             
              <tr>
               
                <td><b>Year</b> </td>
                
                <td><b> Month</b> </td>
                <td><b>Day   </b> </td>
                <td><b>Hour   </b> </td>
                <td><b>T2M   </b> </td>
                <td><b>T2MDEW</b> </td>
                <td><b> T2MWET</b> </td>
                <td><b>QV2M </b> </td>
                <td><b>RH2M</b> </td>
                 <td><b>PRECTOTCORR  </b> </td>
                 <td><b>PS  </b> </td>
                 <td><b>WS2M  </b> </td>
                 <td><b>WD2M  </b> </td>
                 <td><b>WS10M  </b> </td>
                 <td><b>WD10M  </b> </td>
              </tr>

              {% for item in text_file %}
                        <tr>
                            <td>{{item}}</td>
                            
         
                        </tr>
                    {% endfor %}
    

            </tbody>
          </table>
        </div>
       
      </div>



  {% endblock %}