a{% extends "base.html" %}

{% load static %}
{% block header %}
    <link href="{% static "admin/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <style>
        input[type="text"]:disabled {
        background: #dddddd;
}
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
    

        {% if section == "mapper"  %}
            <a href="{% url 'dashboard:reduce_data' file_id %}" type="button" class="btn btn-primary">
            Run Reduce Function</a>
        {% endif %}

        {% if section == "processor"  %}
        <a href="{% url 'dashboard:read_contents' file_name %}" type="button" class="btn btn-primary">
                Read Abstract Content</a>
                {{file_content}}
        {% endif %}
        

        {% if section == "merged_data_viewer"  %}
            
            
                {{file_content}}
        {% endif %}


        

      
     
    </div>
    <br>
</div>





{% endblock %}
    
{% block footer %}


  
<!-- datetime -->
<script src="{% static "admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "admin/assets/js/pages/form-advanced.init.js" %}"></script>
<script src="{% static "admin/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js" %}"></script>
     <!-- Required datatable js -->
     <script src="{% static "admin/assets/libs/datatables.net/js/jquery.dataTables.min.js" %}"></script>
     <script src="{% static "admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>

     <!-- Datatable init js -->
     <script src="{% static "admin/assets/js/pages/datatables.init.js" %}"></script>
{% endblock %}


